In [3]:
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualizations code visuals.py
import visuals as vs

# Pretty display for notebooks
%matplotlib inline

# Load the dataset
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file)

outcomes = full_data['Survived']
data = full_data.drop('Survived', axis = 1)

# Show the new dataset with 'Survived' removed
display(data.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
for _, passenger in data.iterrows():
    print(passenger)

PassengerId                          1
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object
PassengerId                                                    2
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object
PassengerId                         3
Pclass                              3
Name           Heikkinen, Miss. Laina
Sex                            female
Age                                26
SibSp                               0
Parch                               0
Ticket               STON/O2. 3101282
Fare                            7.925
Cabin                             NaN
Embarked                            S
Name: 2, dtype: object
PassengerId                                               4
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                      35
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object
PassengerId                           5
Pclass                                3
Name           Allen, Mr. William Henry
Sex                                male
Age                                  35
SibSp                                 0
Parch                                 0
Ticket                           373450
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 4, dtype: object
PassengerId                   6
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object
PassengerId                          7
Pclass                               1
Name           McCarthy, Mr. Timothy J
Sex                               male
Age                                 54
SibSp                                0
Parch                                0
Ticket                           17463
Fare                           51.8625
Cabin                              E46
Embarked                             S
Name: 6, dtype: object
PassengerId                                 8
Pclass                                      3
Name           Palsson, Master. Gosta Leonard
Sex                                      male
Age                                         2
SibSp                                       3
Parch                                       1
Ticket                                 349909
Fare                                   21.075
Cabin                                     NaN
Embarked                                    S
Name: 7, dtype: object
PassengerId                                                    9
Pclass                                                         3
Name           Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Sex                                                       female
Age                                                           27
SibSp                                                          0
Parch                                                          2
Ticket                                                    347742
Fare                                                     11.1333
Cabin                                                        NaN
Embarked                                                       S
Name: 8, dtype: object
PassengerId                                     10
Pclass                                           2
Name           Nasser, Mrs. Nicholas (Adele Achem)
Sex                                         female
Age                                             14
SibSp                                            1
Parch                                            0
Ticket                                      237736
Fare                                       30.0708
Cabin                                          NaN
Embarked                                         C
Name: 9, dtype: object
PassengerId                                 11
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                          4
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object
PassengerId                          12
Pclass                                1
Name           Bonnell, Miss. Elizabeth
Sex                              female
Age                                  58
SibSp                                 0
Parch                                 0
Ticket                           113783
Fare                              26.55
Cabin                              C103
Embarked                              S
Name: 11, dtype: object
PassengerId                                13
Pclass                                      3
Name           Saundercock, Mr. William Henry
Sex                                      male
Age                                        20
SibSp                                       0
Parch                                       0
Ticket                              A/5. 2151
Fare                                     8.05
Cabin                                     NaN
Embarked                                    S
Name: 12, dtype: object
PassengerId                             14
Pclass                                   3
Name           Andersson, Mr. Anders Johan
Sex                                   male
Age                                     39
SibSp                                    1
Parch                                    5
Ticket                              347082
Fare                                31.275
Cabin                                  NaN
Embarked                                 S
Name: 13, dtype: object
PassengerId                                      15
Pclass                                            3
Name           Vestrom, Miss. Hulda Amanda Adolfina
Sex                                          female
Age                                              14
SibSp                                             0
Parch                                             0
Ticket                                       350406
Fare                                         7.8542
Cabin                                           NaN
Embarked                                          S
Name: 14, dtype: object
PassengerId                                  16
Pclass                                        2
Name           Hewlett, Mrs. (Mary D Kingcome)
Sex                                      female
Age                                          55
SibSp                                         0
Parch                                         0
Ticket                                   248706
Fare                                         16
Cabin                                       NaN
Embarked                                      S
Name: 15, dtype: object
PassengerId                      17
Pclass                            3
Name           Rice, Master. Eugene
Sex                            male
Age                               2
SibSp                             4
Parch                             1
Ticket                       382652
Fare                         29.125
Cabin                           NaN
Embarked                          Q
Name: 16, dtype: object
PassengerId                              18
Pclass                                    2
Name           Williams, Mr. Charles Eugene
Sex                                    male
Age                                     NaN
SibSp                                     0
Parch                                     0
Ticket                               244373
Fare                                     13
Cabin                                   NaN
Embarked                                  S
Name: 17, dtype: object
PassengerId                                                   19
Pclass                                                         3
Name           Vander Planke, Mrs. Julius (Emelia Maria Vande...
Sex                                                       female
Age                                                           31
SibSp                                                          1
Parch                                                          0
Ticket                                                    345763
Fare                                                          18
Cabin                                                        NaN
Embarked                                                       S
Name: 18, dtype: object
PassengerId                         20
Pclass                               3
Name           Masselmani, Mrs. Fatima
Sex                             female
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2649
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 19, dtype: object
PassengerId                      21
Pclass                            2
Name           Fynney, Mr. Joseph J
Sex                            male
Age                              35
SibSp                             0
Parch                             0
Ticket                       239865
Fare                             26
Cabin                           NaN
Embarked                          S
Name: 20, dtype: object
PassengerId                       22
Pclass                             2
Name           Beesley, Mr. Lawrence
Sex                             male
Age                               34
SibSp                              0
Parch                              0
Ticket                        248698
Fare                              13
Cabin                            D56
Embarked                           S
Name: 21, dtype: object
PassengerId                             23
Pclass                                   3
Name           McGowan, Miss. Anna "Annie"
Sex                                 female
Age                                     15
SibSp                                    0
Parch                                    0
Ticket                              330923
Fare                                8.0292
Cabin                                  NaN
Embarked                                 Q
Name: 22, dtype: object
PassengerId                              24
Pclass                                    1
Name           Sloper, Mr. William Thompson
Sex                                    male
Age                                      28
SibSp                                     0
Parch                                     0
Ticket                               113788
Fare                                   35.5
Cabin                                    A6
Embarked                                  S
Name: 23, dtype: object
PassengerId                               25
Pclass                                     3
Name           Palsson, Miss. Torborg Danira
Sex                                   female
Age                                        8
SibSp                                      3
Parch                                      1
Ticket                                349909
Fare                                  21.075
Cabin                                    NaN
Embarked                                   S
Name: 24, dtype: object
PassengerId                                                   26
Pclass                                                         3
Name           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          5
Ticket                                                    347077
Fare                                                     31.3875
Cabin                                                        NaN
Embarked                                                       S
Name: 25, dtype: object
PassengerId                         27
Pclass                               3
Name           Emir, Mr. Farred Chehab
Sex                               male
Age                                NaN
SibSp                                0
Parch                                0
Ticket                            2631
Fare                             7.225
Cabin                              NaN
Embarked                             C
Name: 26, dtype: object
PassengerId                                28
Pclass                                      1
Name           Fortune, Mr. Charles Alexander
Sex                                      male
Age                                        19
SibSp                                       3
Parch                                       2
Ticket                                  19950
Fare                                      263
Cabin                             C23 C25 C27
Embarked                                    S
Name: 27, dtype: object
PassengerId                               29
Pclass                                     3
Name           O'Dwyer, Miss. Ellen "Nellie"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                330959
Fare                                  7.8792
Cabin                                    NaN
Embarked                                   Q
Name: 28, dtype: object
PassengerId                     30
Pclass                           3
Name           Todoroff, Mr. Lalio
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349216
Fare                        7.8958
Cabin                          NaN
Embarked                         S
Name: 29, dtype: object
PassengerId                          31
Pclass                                1
Name           Uruchurtu, Don. Manuel E
Sex                                male
Age                                  40
SibSp                                 0
Parch                                 0
Ticket                         PC 17601
Fare                            27.7208
Cabin                               NaN
Embarked                              C
Name: 30, dtype: object
PassengerId                                                32
Pclass                                                      1
Name           Spencer, Mrs. William Augustus (Marie Eugenie)
Sex                                                    female
Age                                                       NaN
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17569
Fare                                                  146.521
Cabin                                                     B78
Embarked                                                    C
Name: 31, dtype: object
PassengerId                          33
Pclass                                3
Name           Glynn, Miss. Mary Agatha
Sex                              female
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           335677
Fare                               7.75
Cabin                               NaN
Embarked                              Q
Name: 32, dtype: object
PassengerId                       34
Pclass                             2
Name           Wheadon, Mr. Edward H
Sex                             male
Age                               66
SibSp                              0
Parch                              0
Ticket                    C.A. 24579
Fare                            10.5
Cabin                            NaN
Embarked                           S
Name: 33, dtype: object
PassengerId                         35
Pclass                               1
Name           Meyer, Mr. Edgar Joseph
Sex                               male
Age                                 28
SibSp                                1
Parch                                0
Ticket                        PC 17604
Fare                           82.1708
Cabin                              NaN
Embarked                             C
Name: 34, dtype: object
PassengerId                                36
Pclass                                      1
Name           Holverson, Mr. Alexander Oskar
Sex                                      male
Age                                        42
SibSp                                       1
Parch                                       0
Ticket                                 113789
Fare                                       52
Cabin                                     NaN
Embarked                                    S
Name: 35, dtype: object
PassengerId                  37
Pclass                        3
Name           Mamee, Mr. Hanna
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                     2677
Fare                     7.2292
Cabin                       NaN
Embarked                      C
Name: 36, dtype: object
PassengerId                          38
Pclass                                3
Name           Cann, Mr. Ernest Charles
Sex                                male
Age                                  21
SibSp                                 0
Parch                                 0
Ticket                       A./5. 2152
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 37, dtype: object
PassengerId                                    39
Pclass                                          3
Name           Vander Planke, Miss. Augusta Maria
Sex                                        female
Age                                            18
SibSp                                           2

Name: 354, dtype: object
PassengerId                            356
Pclass                                   3
Name           Vanden Steen, Mr. Leo Peter
Sex                                   male
Age                                     28
SibSp                                    0
Parch                                    0
Ticket                              345783
Fare                                   9.5
Cabin                                  NaN
Embarked                                 S
Name: 355, dtype: object
PassengerId                            357
Pclass                                   1
Name           Bowerman, Miss. Elsie Edith
Sex                                 female
Age                                     22
SibSp                                    0
Parch                                    1
Ticket                              113505
Fare                                    55
Cabin                                  E33
Embarked                                 S
Name: 356, dtype: object
PassengerId                          358
Pclass                                 2
Name           Funk, Miss. Annie Clemmer
Sex                               female
Age                                   38
SibSp                                  0
Parch                                  0
Ticket                            237671
Fare                                  13
Cabin                                NaN
Embarked                               S
Name: 357, dtype: object
PassengerId                     359
Pclass                            3
Name           McGovern, Miss. Mary
Sex                          female
Age                             NaN
SibSp                             0
Parch                             0
Ticket                       330931
Fare                         7.8792
Cabin                           NaN
Embarked                          Q
Name: 358, dtype: object
PassengerId                                  360
Pclass                                         3
Name           Mockler, Miss. Helen Mary "Ellie"
Sex                                       female
Age                                          NaN
SibSp                                          0
Parch                                          0
Ticket                                    330980
Fare                                      7.8792
Cabin                                        NaN
Embarked                                       Q
Name: 359, dtype: object
PassengerId                   361
Pclass                          3
Name           Skoog, Mr. Wilhelm
Sex                          male
Age                            40
SibSp                           1
Parch                           4
Ticket                     347088
Fare                         27.9
Cabin                         NaN
Embarked                        S
Name: 360, dtype: object
PassengerId                          362
Pclass                                 2
Name           del Carlo, Mr. Sebastiano
Sex                                 male
Age                                   29
SibSp                                  1
Parch                                  0
Ticket                     SC/PARIS 2167
Fare                             27.7208
Cabin                                NaN
Embarked                               C
Name: 361, dtype: object
PassengerId                                363
Pclass                                       3
Name           Barbara, Mrs. (Catherine David)
Sex                                     female
Age                                         45
SibSp                                        0
Parch                                        1
Ticket                                    2691
Fare                                   14.4542
Cabin                                      NaN
Embarked                                     C
Name: 362, dtype: object
PassengerId                   364
Pclass                          3
Name              Asim, Mr. Adola
Sex                          male
Age                            35
SibSp                           0
Parch                           0
Ticket         SOTON/O.Q. 3101310
Fare                         7.05
Cabin                         NaN
Embarked                        S
Name: 363, dtype: object
PassengerId                    365
Pclass                           3
Name           O'Brien, Mr. Thomas
Sex                           male
Age                            NaN
SibSp                            1
Parch                            0
Ticket                      370365
Fare                          15.5
Cabin                          NaN
Embarked                         Q
Name: 364, dtype: object
PassengerId                               366
Pclass                                      3
Name           Adahl, Mr. Mauritz Nils Martin
Sex                                      male
Age                                        30
SibSp                                       0
Parch                                       0
Ticket                                 C 7076
Fare                                     7.25
Cabin                                     NaN
Embarked                                    S
Name: 365, dtype: object
PassengerId                                                 367
Pclass                                                        1
Name           Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Sex                                                      female
Age                                                          60
SibSp                                                         1
Parch                                                         0
Ticket                                                   110813
Fare                                                      75.25
Cabin                                                       D37
Embarked                                                      C
Name: 366, dtype: object
PassengerId                               368
Pclass                                      3
Name           Moussa, Mrs. (Mantoura Boulos)
Sex                                    female
Age                                       NaN
SibSp                                       0
Parch                                       0
Ticket                                   2626
Fare                                   7.2292
Cabin                                     NaN
Embarked                                    C
Name: 367, dtype: object
PassengerId                    369
Pclass                           3
Name           Jermyn, Miss. Annie
Sex                         female
Age                            NaN
SibSp                            0
Parch                            0
Ticket                       14313
Fare                          7.75
Cabin                          NaN
Embarked                         Q
Name: 368, dtype: object
PassengerId                              370
Pclass                                     1
Name           Aubart, Mme. Leontine Pauline
Sex                                   female
Age                                       24
SibSp                                      0
Parch                                      0
Ticket                              PC 17477
Fare                                    69.3
Cabin                                    B35
Embarked                                   C
Name: 369, dtype: object
PassengerId                            371
Pclass                                   1
Name           Harder, Mr. George Achilles
Sex                                   male
Age                                     25
SibSp                                    1
Parch                                    0
Ticket                               11765
Fare                               55.4417
Cabin                                  E50
Embarked                                 C
Name: 370, dtype: object
PassengerId                          372
Pclass                                 3
Name           Wiklund, Mr. Jakob Alfred
Sex                                 male
Age                                   18
SibSp                                  1
Parch                                  0
Ticket                           3101267
Fare                              6.4958
Cabin                                NaN
Embarked                               S
Name: 371, dtype: object
PassengerId                           373
Pclass                                  3
Name           Beavan, Mr. William Thomas
Sex                                  male
Age                                    19
SibSp                                   0
Parch                                   0
Ticket                             323951
Fare                                 8.05
Cabin                                 NaN
Embarked                                S
Name: 372, dtype: object
PassengerId                    374
Pclass                           1
Name           Ringhini, Mr. Sante
Sex                           male
Age                             22
SibSp                            0
Parch                            0
Ticket                    PC 17760
Fare                       135.633
Cabin                          NaN
Embarked                         C
Name: 373, dtype: object
PassengerId                           375
Pclass                                  3
Name           Palsson, Miss. Stina Viola
Sex                                female
Age                                     3
SibSp                                   3
Parch                                   1
Ticket                             349909
Fare                               21.075
Cabin                                 NaN
Embarked                                S
Name: 374, dtype: object
PassengerId                                      376
Pclass                                             1
Name           Meyer, Mrs. Edgar Joseph (Leila Saks)
Sex                                           female
Age                                              NaN
SibSp                                              1
Parch                                              0
Ticket                                      PC 17604
Fare                                         82.1708
Cabin                                            NaN
Embarked                                           C
Name: 375, dtype: object
PassengerId                                377
Pclass                                       3
Name           Landergren, Miss. Aurora Adelia
Sex                                     female
Age                                         22
SibSp                                        0
Parch                                        0
Ticket                                  C 7077
Fare                                      7.25
Cabin                                      NaN
Embarked                                     S
Name: 376, dtype: object
PassengerId                          378
Pclass                                 1
Name           Widener, Mr. Harry Elkins
Sex                                 male
Age                                   27
SibSp                                  0
Parch                                  2
Ticket                            113503
Fare                               211.5
Cabin                                C82
Embarked                               C
Name: 377, dtype: object
PassengerId                    379
Pclass                           3
Name           Betros, Mr. Tannous
Sex                           male
Age                             20
SibSp                            0
Parch                            0
Ticket                        2648
Fare                        4.0125
Cabin                          NaN
Embarked                         C
Name: 378, dtype: object
PassengerId                            380
Pclass                                   3
Name           Gustafsson, Mr. Karl Gideon
Sex                                   male
Age                                     19
SibSp                                    0
Parch                                    0
Ticket                              347069
Fare                                 7.775
Cabin                                  NaN
Embarked                                 S
Name: 379, dtype: object
PassengerId                      381
Pclass                             1
Name           Bidois, Miss. Rosalie
Sex                           female
Age                               42
SibSp                              0
Parch                              0
Ticket                      PC 17757
Fare                         227.525
Cabin                            NaN
Embarked                           C
Name: 380, dtype: object
PassengerId                            382
Pclass                                   3
Name           Nakid, Miss. Maria ("Mary")
Sex                                 female
Age                                      1
SibSp                                    0
Parch                                    2
Ticket                                2653
Fare                               15.7417
Cabin                                  NaN
Embarked                                 C
Name: 381, dtype: object
PassengerId                   383
Pclass                          3
Name           Tikkanen, Mr. Juho
Sex                          male
Age                            32
SibSp                           0
Parch                           0
Ticket          STON/O 2. 3101293
Fare                        7.925
Cabin                         NaN
Embarked                        S
Name: 382, dtype: object
PassengerId                                                  384
Pclass                                                         1
Name           Holverson, Mrs. Alexander Oskar (Mary Aline To...
Sex                                                       female
Age                                                           35
SibSp                                                          1
Parch                                                          0
Ticket                                                    113789
Fare                                                          52
Cabin                                                        NaN
Embarked                                                       S
Name: 383, dtype: object
PassengerId                       385
Pclass                              3
Name           Plotcharsky, Mr. Vasil
Sex                              male
Age                               NaN
SibSp                               0
Parch                               0
Ticket                         349227
Fare                           7.8958
Cabin                             NaN
Embarked                            S
Name: 384, dtype: object
PassengerId                          386
Pclass                                 2
Name           Davies, Mr. Charles Henry
Sex                                 male
Age                                   18
SibSp                                  0
Parch                                  0
Ticket                      S.O.C. 14879
Fare                                73.5
Cabin                                NaN
Embarked                               S
Name: 385, dtype: object
PassengerId                                387
Pclass                                       3
Name           Goodwin, Master. Sidney Leonard
Sex                                       male
Age                                          1
SibSp                                        5
Parch                                        2
Ticket                                 CA 2144
Fare                                      46.9
Cabin                                      NaN
Embarked                                     S
Name: 386, dtype: object
PassengerId                 388
Pclass                        2
Name           Buss, Miss. Kate
Sex                      female
Age                          36
SibSp                         0
Parch                         0
Ticket                    27849
Fare                         13
Cabin                       NaN
Embarked                      S
Name: 387, dtype: object
PassengerId                     389
Pclass                            3
Name           Sadlier, Mr. Matthew
Sex                            male
Age                             NaN
SibSp                             0
Parch                             0
Ticket                       367655
Fare                         7.7292
Cabin                           NaN
Embarked                          Q
Name: 388, dtype: object
PassengerId                      390
Pclass                             2
Name           Lehmann, Miss. Bertha
Sex                           female
Age                               17
SibSp                              0
Parch                              0
Ticket                       SC 1748
Fare                              12
Cabin                            NaN
Embarked                           C
Name: 389, dtype: object
PassengerId                           391
Pclass                                  1
Name           Carter, Mr. William Ernest
Sex                                  male
Age                                    36
SibSp                                   1
Parch                                   2
Ticket                             113760
Fare                                  120
Cabin                             B96 B98
Embarked                                S
Name: 390, dtype: object
PassengerId                       392
Pclass                              3
Name           Jansson, Mr. Carl Olof
Sex                              male
Age                                21
SibSp                               0
Parch                               0
Ticket                         350034
Fare                           7.7958
Cabin                             NaN
Embarked                            S
Name: 391, dtype: object
PassengerId                             393
Pclass                                    3
Name           Gustafsson, Mr. Johan Birger
Sex                                    male
Age                                      28
SibSp                                     2
Parch                                     0
Ticket                              3101277
Fare                                  7.925
Cabin                                   NaN
Embarked                                  S
Name: 392, dtype: object
PassengerId                       394
Pclass                              1
Name           Newell, Miss. Marjorie
Sex                            female
Age                                23
SibSp                               1
Parch                               0
Ticket                          35273
Fare                          113.275
Cabin                             D36
Embarked                            C
Name: 393, dtype: object
PassengerId                                                  395
Pclass                                                         3
Name           Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...
Sex                                                       female
Age                                                           24
SibSp                                                          0
Parch                                                          2
Ticket                                                   PP 9549
Fare                                                        16.7
Cabin                                                         G6
Embarked                                                       S
Name: 394, dtype: object
PassengerId                    396
Pclass                           3
Name           Johansson, Mr. Erik
Sex                           male
Age                             22
SibSp                            0
Parch                            0
Ticket                      350052

Name: 660, dtype: object
PassengerId                  662
Pclass                         3
Name           Badt, Mr. Mohamed
Sex                         male
Age                           40
SibSp                          0
Parch                          0
Ticket                      2623
Fare                       7.225
Cabin                        NaN
Embarked                       C
Name: 661, dtype: object
PassengerId                           663
Pclass                                  1
Name           Colley, Mr. Edward Pomeroy
Sex                                  male
Age                                    47
SibSp                                   0
Parch                                   0
Ticket                               5727
Fare                              25.5875
Cabin                                 E58
Embarked                                S
Name: 662, dtype: object
PassengerId                 664
Pclass                        3
Name           Coleff, Mr. Peju
Sex                        male
Age                          36
SibSp                         0
Parch                         0
Ticket                   349210
Fare                     7.4958
Cabin                       NaN
Embarked                      S
Name: 663, dtype: object
PassengerId                            665
Pclass                                   3
Name           Lindqvist, Mr. Eino William
Sex                                   male
Age                                     20
SibSp                                    1
Parch                                    0
Ticket                   STON/O 2. 3101285
Fare                                 7.925
Cabin                                  NaN
Embarked                                 S
Name: 664, dtype: object
PassengerId                   666
Pclass                          2
Name           Hickman, Mr. Lewis
Sex                          male
Age                            32
SibSp                           2
Parch                           0
Ticket               S.O.C. 14879
Fare                         73.5
Cabin                         NaN
Embarked                        S
Name: 665, dtype: object
PassengerId                            667
Pclass                                   2
Name           Butler, Mr. Reginald Fenton
Sex                                   male
Age                                     25
SibSp                                    0
Parch                                    0
Ticket                              234686
Fare                                    13
Cabin                                  NaN
Embarked                                 S
Name: 666, dtype: object
PassengerId                           668
Pclass                                  3
Name           Rommetvedt, Mr. Knud Paust
Sex                                  male
Age                                   NaN
SibSp                                   0
Parch                                   0
Ticket                             312993
Fare                                7.775
Cabin                                 NaN
Embarked                                S
Name: 667, dtype: object
PassengerId                669
Pclass                       3
Name           Cook, Mr. Jacob
Sex                       male
Age                         43
SibSp                        0
Parch                        0
Ticket                A/5 3536
Fare                      8.05
Cabin                      NaN
Embarked                     S
Name: 668, dtype: object
PassengerId                                                  670
Pclass                                                         1
Name           Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Sex                                                       female
Age                                                          NaN
SibSp                                                          1
Parch                                                          0
Ticket                                                     19996
Fare                                                          52
Cabin                                                       C126
Embarked                                                       S
Name: 669, dtype: object
PassengerId                                                  671
Pclass                                                         2
Name           Brown, Mrs. Thomas William Solomon (Elizabeth ...
Sex                                                       female
Age                                                           40
SibSp                                                          1
Parch                                                          1
Ticket                                                     29750
Fare                                                          39
Cabin                                                        NaN
Embarked                                                       S
Name: 670, dtype: object
PassengerId                       672
Pclass                              1
Name           Davidson, Mr. Thornton
Sex                              male
Age                                31
SibSp                               1
Parch                               0
Ticket                     F.C. 12750
Fare                               52
Cabin                             B71
Embarked                            S
Name: 671, dtype: object
PassengerId                            673
Pclass                                   2
Name           Mitchell, Mr. Henry Michael
Sex                                   male
Age                                     70
SibSp                                    0
Parch                                    0
Ticket                          C.A. 24580
Fare                                  10.5
Cabin                                  NaN
Embarked                                 S
Name: 672, dtype: object
PassengerId                      674
Pclass                             2
Name           Wilhelms, Mr. Charles
Sex                             male
Age                               31
SibSp                              0
Parch                              0
Ticket                        244270
Fare                              13
Cabin                            NaN
Embarked                           S
Name: 673, dtype: object
PassengerId                           675
Pclass                                  2
Name           Watson, Mr. Ennis Hastings
Sex                                  male
Age                                   NaN
SibSp                                   0
Parch                                   0
Ticket                             239856
Fare                                    0
Cabin                                 NaN
Embarked                                S
Name: 674, dtype: object
PassengerId                               676
Pclass                                      3
Name           Edvardsson, Mr. Gustaf Hjalmar
Sex                                      male
Age                                        18
SibSp                                       0
Parch                                       0
Ticket                                 349912
Fare                                    7.775
Cabin                                     NaN
Embarked                                    S
Name: 675, dtype: object
PassengerId                              677
Pclass                                     3
Name           Sawyer, Mr. Frederick Charles
Sex                                     male
Age                                     24.5
SibSp                                      0
Parch                                      0
Ticket                                342826
Fare                                    8.05
Cabin                                    NaN
Embarked                                   S
Name: 676, dtype: object
PassengerId                        678
Pclass                               3
Name           Turja, Miss. Anna Sofia
Sex                             female
Age                                 18
SibSp                                0
Parch                                0
Ticket                            4138
Fare                            9.8417
Cabin                              NaN
Embarked                             S
Name: 677, dtype: object
PassengerId                                        679
Pclass                                               3
Name           Goodwin, Mrs. Frederick (Augusta Tyler)
Sex                                             female
Age                                                 43
SibSp                                                1
Parch                                                6
Ticket                                         CA 2144
Fare                                              46.9
Cabin                                              NaN
Embarked                                             S
Name: 678, dtype: object
PassengerId                                   680
Pclass                                          1
Name           Cardeza, Mr. Thomas Drake Martinez
Sex                                          male
Age                                            36
SibSp                                           0
Parch                                           1
Ticket                                   PC 17755
Fare                                      512.329
Cabin                                 B51 B53 B55
Embarked                                        C
Name: 679, dtype: object
PassengerId                    681
Pclass                           3
Name           Peters, Miss. Katie
Sex                         female
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      330935
Fare                        8.1375
Cabin                          NaN
Embarked                         Q
Name: 680, dtype: object
PassengerId                   682
Pclass                          1
Name           Hassab, Mr. Hammad
Sex                          male
Age                            27
SibSp                           0
Parch                           0
Ticket                   PC 17572
Fare                      76.7292
Cabin                         D49
Embarked                        C
Name: 681, dtype: object
PassengerId                            683
Pclass                                   3
Name           Olsvigen, Mr. Thor Anderson
Sex                                   male
Age                                     20
SibSp                                    0
Parch                                    0
Ticket                                6563
Fare                                 9.225
Cabin                                  NaN
Embarked                                 S
Name: 682, dtype: object
PassengerId                            684
Pclass                                   3
Name           Goodwin, Mr. Charles Edward
Sex                                   male
Age                                     14
SibSp                                    5
Parch                                    2
Ticket                             CA 2144
Fare                                  46.9
Cabin                                  NaN
Embarked                                 S
Name: 683, dtype: object
PassengerId                                  685
Pclass                                         2
Name           Brown, Mr. Thomas William Solomon
Sex                                         male
Age                                           60
SibSp                                          1
Parch                                          1
Ticket                                     29750
Fare                                          39
Cabin                                        NaN
Embarked                                       S
Name: 684, dtype: object
PassengerId                                       686
Pclass                                              2
Name           Laroche, Mr. Joseph Philippe Lemercier
Sex                                              male
Age                                                25
SibSp                                               1
Parch                                               2
Ticket                                  SC/Paris 2123
Fare                                          41.5792
Cabin                                             NaN
Embarked                                            C
Name: 685, dtype: object
PassengerId                         687
Pclass                                3
Name           Panula, Mr. Jaako Arnold
Sex                                male
Age                                  14
SibSp                                 4
Parch                                 1
Ticket                          3101295
Fare                            39.6875
Cabin                               NaN
Embarked                              S
Name: 686, dtype: object
PassengerId                  688
Pclass                         3
Name           Dakic, Mr. Branko
Sex                         male
Age                           19
SibSp                          0
Parch                          0
Ticket                    349228
Fare                     10.1708
Cabin                        NaN
Embarked                       S
Name: 687, dtype: object
PassengerId                                689
Pclass                                       3
Name           Fischer, Mr. Eberhard Thelander
Sex                                       male
Age                                         18
SibSp                                        0
Parch                                        0
Ticket                                  350036
Fare                                    7.7958
Cabin                                      NaN
Embarked                                     S
Name: 688, dtype: object
PassengerId                                  690
Pclass                                         1
Name           Madill, Miss. Georgette Alexandra
Sex                                       female
Age                                           15
SibSp                                          0
Parch                                          1
Ticket                                     24160
Fare                                     211.338
Cabin                                         B5
Embarked                                       S
Name: 689, dtype: object
PassengerId                        691
Pclass                               1
Name           Dick, Mr. Albert Adrian
Sex                               male
Age                                 31
SibSp                                1
Parch                                0
Ticket                           17474
Fare                                57
Cabin                              B20
Embarked                             S
Name: 690, dtype: object
PassengerId                   692
Pclass                          3
Name           Karun, Miss. Manca
Sex                        female
Age                             4
SibSp                           0
Parch                           1
Ticket                     349256
Fare                      13.4167
Cabin                         NaN
Embarked                        C
Name: 691, dtype: object
PassengerId             693
Pclass                    3
Name           Lam, Mr. Ali
Sex                    male
Age                     NaN
SibSp                     0
Parch                     0
Ticket                 1601
Fare                56.4958
Cabin                   NaN
Embarked                  S
Name: 692, dtype: object
PassengerId                 694
Pclass                        3
Name           Saad, Mr. Khalil
Sex                        male
Age                          25
SibSp                         0
Parch                         0
Ticket                     2672
Fare                      7.225
Cabin                       NaN
Embarked                      C
Name: 693, dtype: object
PassengerId                695
Pclass                       1
Name           Weir, Col. John
Sex                       male
Age                         60
SibSp                        0
Parch                        0
Ticket                  113800
Fare                     26.55
Cabin                      NaN
Embarked                     S
Name: 694, dtype: object
PassengerId                           696
Pclass                                  2
Name           Chapman, Mr. Charles Henry
Sex                                  male
Age                                    52
SibSp                                   0
Parch                                   0
Ticket                             248731
Fare                                 13.5
Cabin                                 NaN
Embarked                                S
Name: 695, dtype: object
PassengerId                 697
Pclass                        3
Name           Kelly, Mr. James
Sex                        male
Age                          44
SibSp                         0
Parch                         0
Ticket                   363592
Fare                       8.05
Cabin                       NaN
Embarked                      S
Name: 696, dtype: object
PassengerId                                 698
Pclass                                        3
Name           Mullens, Miss. Katherine "Katie"
Sex                                      female
Age                                         NaN
SibSp                                         0
Parch                                         0
Ticket                                    35852
Fare                                     7.7333
Cabin                                       NaN
Embarked                                      Q
Name: 697, dtype: object
PassengerId                         699
Pclass                                1
Name           Thayer, Mr. John Borland
Sex                                male
Age                                  49
SibSp                                 1
Parch                                 1
Ticket                            17421
Fare                            110.883
Cabin                               C68
Embarked                              C
Name: 698, dtype: object
PassengerId                                         700
Pclass                                                3
Name           Humblen, Mr. Adolf Mathias Nicolai Olsen
Sex                                                male
Age                                                  42
SibSp                                                 0
Parch                                                 0
Ticket                                           348121
Fare                                               7.65
Cabin                                             F G63
Embarked                                              S
Name: 699, dtype: object
PassengerId                                                  701
Pclass                                                         1
Name           Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Sex                                                       female
Age                                                           18
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17757
Fare                                                     227.525
Cabin                                                    C62 C64
Embarked                                                       C
Name: 700, dtype: object
PassengerId                                 702
Pclass                                        1
Name           Silverthorne, Mr. Spencer Victor
Sex                                        male
Age                                          35