In [1]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], index=pd.Index(['a', 'b', 'c', 'd'], name = 'idx'))

In [2]:
s

idx
a    1
b    2
c    3
d    4
dtype: int64

In [3]:
s.reset_index(drop = False)

  idx  0
0   a  1
1   b  2
2   c  3
3   d  4

In [4]:
s.reset_index(drop = True)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
df = pd.DataFrame(data = [1,2,3,4])
df

   0
0  1
1  2
2  3
3  4

In [14]:
df.index

RangeIndex(start=0, stop=4, step=1)